body {
  max-width: 375px;
  margin: auto;
  background: var(--dark);
  color: var(--dark);
  --dark: #11161d;
  --light: #e6f3ff;
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url("../img/background.png")
}

.title-box {
  background-color: var(--dark);
  color: var(--light);
}

.cta {
  text-decoration: none;
}

.cta-dark {
  background: var(--dark);
  color: var(--light);
}

.cta-light {
  background: var(--light);
  color: var(--dark);
}

.btn-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  background: var(--light);
}

.img-intro {
  width: 20px;
  margin: auto;
}

.section-produit {
  background: var(--dark);
}

.section-produit h2 {
  color: var(--light);
}

.articles {
  background: var(--light);
  text-align: left;
}

.articles-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.articles-img {
  width: 100px;
}

footer p {
  color: #fff;
  opacity: 30%;
}